<div class="left-header-area" [style.height]="(rowHeight * (rows.length + 1) + 1) + 'px'"
     [style.width]="'200px'">
  <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
    <defs>
      <linearGradient id="grayGradient"
                      x1="0%" y1="0%"
                      x2="0%" y2="100%"
                      spreadMethod="pad">
        <stop offset="0%"   stop-color="#ffffff" stop-opacity="1"/>
        <stop offset="100%" stop-color="#cccccc" stop-opacity="1"/>
      </linearGradient>
    </defs>

    <rect [attr.x]="0" [attr.y]="rowHeight + (rowHeight * rowIdx) + 1" [attr.width]="200" [attr.height]="rowHeight"
          *ngFor="let row of rows; let rowIdx = index;"
          style="fill:url(#grayGradient);
            stroke: #005000;
            stroke-width: 0;"/>
    <text x="8" [attr.y]="(rowHeight * rowIdx) + rowHeight + 22"
          *ngFor="let row of rows; let rowIdx = index;">title {{rowIdx}}
    </text>

  </svg>
</div>

<div class="scroll-container">
  <div class="container" [style.height]="(rowHeight * (rows.length + 1) + 1) + 'px'"
       [style.width]="(headers.length * cellWidth * hoursPerDay) + 100 + 'px'">
    <svg width="100%" height="100%" xmlns="http://www.w3.org/2000/svg">
      <defs>
        <pattern id="smallGrid" [attr.width]="cellWidth" [attr.height]="rowHeight" patternUnits="userSpaceOnUse">
          <path [attr.d]="'M ' + cellWidth + ' 0 L 0 0 0 ' + rowHeight" fill="none" stroke="lightgray"
                stroke-width="0.5"/>
        </pattern>
        <pattern id="grid" [attr.width]="cellWidth * hoursPerDay" height="30" patternUnits="userSpaceOnUse">
          <rect [attr.width]="cellWidth * hoursPerDay" [attr.height]="rowHeight" fill="url(#smallGrid)"/>
          <path [attr.d]="'M ' + cellWidth * hoursPerDay + ' 0 L 0 0 0 ' + rowHeight" fill="none" stroke="gray"
                stroke-width="1"/>
        </pattern>
      </defs>

      <rect y="30" width="100%" height="100%" fill="url(#grid)"/>

      <text [attr.x]="headerIdx * cellWidth * hoursPerDay + 2" y="20"
            *ngFor="let header of headers; let headerIdx = index;">{{header.formatted}}
      </text>

    </svg>
  </div>
</div>
